<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMediationServerContract" />
                <binding name="BasicHttpBinding_IMediationServerContract1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMediationServerContract"
                contract="MediationReference.IMediationServerContract" name="BasicHttpBinding_IMediationServerContract" />
            <endpoint address="http://localhost:8089/MediationService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMediationServerContract1"
                contract="MediationReference.IMediationServerContract" name="BasicHttpBinding_IMediationServerContract1" />
        </client>
    </system.serviceModel>
</configuration>